<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: en }}">
  <title>{{ site.title }}</title>
  {% seo title=false %}
  {% include GoogleTagManager_head.liquid %}
  {%- include head.html -%}

   <!-- Open Graph Metadata -->
   <meta property="og:title" content="{{ site.title }}" />
   <meta property="og:image" content="{{ site.url }}/assets/sidharth_moktan_full_size_23-24.jpg" />
   <meta property="og:url" content="{{ site.url }}" />
   <meta property="og:type" content="website" />

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>


  </body>

</html>
